.time {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  color: var(--text-secondary);
  font-size: 1.25rem;
  line-height: 1.4;

  @media (width <= 540px) {
    font-size: 1.125rem;
  }
}

.timeDiff {
  font-size: 1rem;
  opacity: 0.8;
}

.skeleton {
  border-radius: 4px;
  animation: shimmer 1.5s infinite;
  background: linear-gradient(
    90deg,
    var(--text-secondary) 25%,
    rgb(255 255 255 / 10%) 50%,
    var(--text-secondary) 75%
  );
  background-size: 200% 100%;
  color: transparent;
  user-select: none;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}

