:root {
  --bg-color-light: #fff;
  --bg-logo-color: #4682b4;
  --text-color-light: #333;
  --link-color-light: #0064a8;
  --link-hover-color-light: #a03000;
  --link-color-dark: #1a1a1a;
  --link-hover-color-dark: rgb(226 0 22);
  --link-border-alpha: 0.45;

  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1;
  text-rendering: optimizelegibility;
}

* {
  box-sizing: border-box;
}

html {
  background-color: #f6f6f6;
  font-size: 16px;
}

body {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;

  // background: radial-gradient(circle at left top, #3F51B5, #E91E63, #e91e63ad, #da00ffbf, transparent 75%) no-repeat;
  // background-size: 85%;
  font-size: 1rem;
  place-items: center;
}

/* Links */

a {
  border-bottom: 1px solid rgb(from var(--link-color-light) r g b / 50%);
  color: var(--link-color-light);
  text-decoration: none;
  transition: border-bottom-color .25s ease-out;

  &:hover {
    border-bottom-color: rgb(from var(--link-hover-color-light) r g b / 50%);
    color: var(--link-hover-color-light);
    transition: border-bottom-color .25s ease-out;
  }

  &:visited {
    color: purple;
  }
}
