:root {
  font-family: 'Noto Sans', sans-serif;
  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1;
  text-rendering: optimizelegibility;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  font-size: 1rem;
  place-items: center;
}

// Links

a {
  color: #0070f3;
  text-decoration: none;

  &:hover {
    color: #015ecb;
    text-decoration: underline;
  }

  &:visited {
    color: purple; /* Цвет посещенных ссылок */
  }
}

@media (prefers-color-scheme: dark) {
  html.dark {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  }
}

@media (prefers-color-scheme: light) {
  html.light {
    color: #242424;
    background-color: rgba(255, 255, 255, 0.87);
  }
}
