.home {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
}

.main {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 1rem 0;

  .description {
    display: flex;
    width: 100%;
    max-width: 66ch;
    flex-direction: column;
    margin-bottom: 1rem;

    p {
      display: inline-block;
      width: 100%;
      margin: 0 0 .75rem;
      font-size: 1.375rem;
      line-height: 1.5;
    }
  }
}

.swu {
  position: fixed;
  z-index: 999;
  top: 20px;
  left: -80px;
  width: 300px;
  height: 60px;
  background: linear-gradient(-180deg, #ffd500 50%, #005bbb 50%);
  cursor: pointer;
  transform: rotate(135deg);

  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}
