.logo {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 8px 8px 45px -15px rgb(0 0 0 / 75%);

  .link {
    display: flex;
    border: none;
  }
}
