.header {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.75rem 6% 1.5rem;

  .logo {
    position: relative;
    display: flex;
    border-radius: 50%;
    background-color: var( --bg-logo-color);
    box-shadow: 8px 8px 45px -15px rgb(0 0 0 / 75%);

    .avatar {
      width: 100%;
      max-width: 64px;
      height: auto;
      border-radius: 50%;
    }

    .hat {
      position: absolute;
      top: -10px;
      left: 15px;
    }
  }

  .navigation {
    display: flex;

    ul {
      display: inline-flex;
      padding: 0;
      margin: 0;
      gap: 0.875rem;
      list-style-type: none;

      li {
        a {
          border-bottom: 1px solid rgb(from var(--link-color-dark) r g b / 45%);
          color: var(--link-color-dark);
          font-size: 1.25rem;

          &:hover {
            border-bottom-color: rgb(from var(--link-hover-color-dark) r g b / 45%);
            color: var(--link-hover-color-dark);
          }
        }
      }
    }
  }
}
