.footer {
  display: flex;
  width: 100%;
  max-width: 728px;
  justify-content: space-between;
  padding: 1.5rem 0 0;
  border-top: 1px solid rgb(204 204 204 / 33%);
  margin-top: 2rem;

  .copyrights {
    display: flex;
    flex-direction: column;

    span {
      margin-bottom: .75rem;
      color: #777;
    }
  }

  a {
    display: inline-flex;

    svg {
      width: 16px;
      height: 16px;
      margin-right: .5rem;
    }
  }
}
