.footer {
  display: flex;
  width: 100%;
  padding: 3rem 6% 1.5rem;

  div {
    display: flex;
    flex-direction: column;

    p {
      margin: 0 0 .75rem;

      &.email {
        margin: 0;

        a {
          border-bottom: 1px solid rgb(from var(--link-color-dark) r g b / 45%);
          color: var(--link-color-dark);

          &:hover {
            border-bottom-color: rgb(from var(--link-hover-color-dark) r g b / 45%);
            color: var(--link-hover-color-dark);
          }
        }
      }
    }
  }
}
