.navigation {
  display: inline-flex;

  ul {
    display: inline-flex;
    column-gap: 1.25rem;
    font-size: 1.5rem;
    list-style-type: none;
  }
}

@media (width <= 640px) {
  .navigation {
    ul {
      column-gap: 1.5rem;
    }
  }
}
