.currentTrack {
  width: 100%;
  display: flex;
  max-width: 468px;
  position: absolute;
  top: 1rem;
  justify-content: center;
}

.track {
  display: flex;
  align-items: center;
  padding: .5rem;
  gap: 12px;
  justify-content: center;
  width: 100%;
}

.coverIcon {
  color: var(--text-color-dark);
  font-size: 24px;
}

.nowPlaying {
  color: rgb(0 0 0 / 70%);
  white-space: nowrap;
}

.marqueeContainer {
  overflow: hidden;
  width: 100%;
}

.link {
  color: var(--link-color);
  text-decoration: underline;
  text-decoration-color: var(--link-underline-color);
  text-decoration-thickness: .035em;
  text-underline-offset: .275em;
  transition: all .25s linear;
  line-height: 1.5;
  display: inline-block;
  font-size: 1em;
  font-weight: 500;
  white-space: nowrap;
  animation: marquee 15s linear infinite;
  padding-left: 100%;

  &:hover {
    animation-play-state: paused;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.info {
  display: flex;
  min-width: 0;
  flex-direction: column;
  gap: 4px;
}

.artist {
  overflow: hidden;
  font-size: 0.9em;
  opacity: 0.7;
  text-overflow: ellipsis;
  white-space: nowrap;
}
