// Global styles
:root {
  --white: #fff;
  --black: #000;
  --beige: #fdf6f2;
  --background-color: var(--beige);
  --link-color: var(--text-color);
  --key-color: #00b2ff;
  --text-color: var(--black);
  --text-color-light: #444;
  --text-color-light-1: #666;
  --text-color-lighter: rgb(150 150 150 / 50%);
  --text-color-red: rgb(255 0 107 / 62%);
  --link-underline-color: color-mix(in srgb, var(--key-color) 50%, rgb(255 255 255 / 0%));

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1;
  text-rendering: optimizelegibility;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  color: var(--text-color);
  gap: 1rem;
}

// Links
a {
  color: var(--link-color);
  text-decoration: underline;
  text-decoration-color: var(--link-underline-color);
  text-decoration-thickness: .0625em;
  text-underline-offset: .25em;
}

a:hover {
  color: var(--key-color);
}

// Typography
h1 {
  max-width: 64ch;
  margin: 0 0 .75rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.25;
}

h2 {
  max-width: 64ch;
  margin: 0 0 .5rem;
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 1.25;
}

h3 {
  max-width: 64ch;
  margin: 0 0 .5rem;
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 1.125;
}

p {
  width: 100%;
  max-width: 60ch;
  margin: 0 0 .75rem;
  line-height: 1.5;
}

@media (width <= 540px) {
  h1 {
    font-size: 2.75rem;
  }
}

// Main container
.main {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

// Not found page
.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  a {
    padding: 1rem;
  }
}
