:root {
  --text-color: #000;
  --background-color: #fff;
  --link-color: var(--text-color);
  --key-color: #00b2ff;
  --link-underline-color: color-mix(in srgb, var(--key-color) 50%, rgb(255 255 255 / 0%));

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1;
  text-rendering: optimizelegibility;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
  text-decoration: underline;
  text-decoration-color: var(--link-underline-color);
  text-decoration-thickness: .0625em;
  text-underline-offset: .25em;
}

a:hover {
  color: var(--key-color);
}

.main {
  display: flex;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #fff;
    --background-color: #0f0f0f;
  }
}
