.layout {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
}

@media (width <= 768px) {
  .layout {
    background-size: 150px;
  }
}

@media (width <= 540px) {
  .layout {
    background-size: 100px;
  }
} 