.layout {
  position: relative;
  min-height: 100vh;
  padding: 1rem;
  background-attachment: fixed;
  background-image: url('/images/awicons/typewriter.webp');
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 200px;
}

@media (width <= 768px) {
  .layout {
    background-size: 150px;
  }
}

@media (width <= 540px) {
  .layout {
    background-size: 100px;
  }
} 