.description {
  width: 100%;
  max-width: 900px;
  padding: 0 1rem;
  margin-bottom: .125rem;

  h1 {
    margin: 0 0 1rem;
  }

  p {
    width: 100%;
    margin: 0 0 .875rem;
    font-size: 2rem;
    line-height: 1.5;
  }
}

@media (width <= 540px) {
  .description {
    p {
      font-size: 1.75rem;
    }
  }
}
