.social {
  display: flex;
  width: 100%;

  .links {
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
      margin-right: 1rem;
      margin-bottom: .5rem;

      a {
        display: inline-flex;
        align-items: center;
        font-size: 1.375rem;
        line-height: 1.5;

        &[href*="facebook"] {
          color: #3b5998;
        }

        &[href*="linkedin"] {
          color: #0077b5;
        }

        &[href*="twitter"] {
          color: #1da1f2;
        }

        &[href*="github"] {
          color: #333;
        }

        &[href*="t.me"] {
          color: #08c;
        }

        svg {
          width: 1.25rem;
          height: 1.25rem;
          margin-right: 0.5ch;
        }
      }
    }
  }
}
