.footer {
  display: flex;
  width: 100%;
  max-width: 1200px;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1.5rem 1rem 2rem;

  div {
    display: flex;
    flex-direction: column;
    gap: .25rem;

    p {
      margin: 0;

      &.email {
        margin-bottom: 1rem;
      }

      &.version {
        font-family: monospace;
        font-size: .875rem;

        a {
          color: var(--text-color-lighter);
          text-decoration: none;

          &:hover {
            color: var(--text-color-red);
          }
        }
      }
    }
  }
}

@media (width <= 540px) {
  .footer {
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;

    div {
      align-items: center;

      p {
        text-align: center;
      }
    }
  }
}
