.footer {
  display: flex;
  width: 100%;
  max-width: 1000px;
  align-items: flex-start;
  justify-content: space-between;
  padding: 3rem 1rem 2rem;

  div {
    display: flex;
    flex-direction: column;
    gap: .25rem;

    p {
      margin: 0;

      &.copyright {
        margin-bottom: .5rem;
      }

      &.email {
        margin-bottom: 1rem;
      }

      &.version {
        font-family: monospace;
        font-size: .875rem;

        a {
          color: var(--text-color-lighter);
          text-decoration: none;

          &:hover {
            color: var(--link-color-red);
          }
        }
      }
    }
  }
}

.face {
  position: absolute;
  right: -100px;
  bottom: -20px;
  z-index: -1;
}
