.footer {
  display: flex;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  padding: 0 1rem;
  margin: 1rem 0;

  div {
    display: flex;
    flex-direction: column;

    p {
      margin: 0 0 .5rem;
      color: #777;

      &.email {
        margin: 0;
      }
    }
  }
}

@media (width <= 540px) {
  .footer {
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;

    div {
      align-items: center;
    }
  }
}
